* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* MENU */
.navbar {
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
}

.nav-link {
    color: white !important;
    font-size: 18px;
    margin: 0 15px;
}

.nav-link:hover {
    color: #ccc !important;
}

.navbar-nav .nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.d-flex .nav-link {
    color: white!important;
    font-size: 20px;
}

.d-flex .nav-link:hover {
    color: #ccc !important;
}

.navbar-toggler-icon {
    color: #fff;
}


/* CSS para la sección Acerca de */
.acerca-de {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 50px 0;
}

.acerca-de .logo {
    margin-right: 50px;
}

.descripcion {
    max-width: 400px;
    color: #fff;
}

.descripcion h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.descripcion p {
    margin-bottom: 10px;
}


/* CSS para la sección de integrantes */
.integrantes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.integrante {
    text-align: center;
    flex: 1 1 200px;
}

.integrante img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.integrante h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.integrante p {
    color: #ccc;
    margin-bottom: 20px;
}



/*PIE DE PAGINA*/
html body { 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url(/img/fondo-principal.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.content {
flex: 1;
background-color: #ccc;
}

.pie-pagina {
width: 100%;
background-color: #333;
color: white;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 20px;
}

.pie-pagina .grupo-1 {
width: 100%;
max-width: 1200px;
margin: auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 20px;
padding: 20px 0;
text-align: center;
}

.pie-pagina .grupo-1 .box figure {
display: flex;
justify-content: center;
align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
width: 150px;
}

.pie-pagina .grupo-1 .box h2 {
color: #fff;
margin-bottom: 15px;
font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
color: #efefef;
margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social {
display: flex;
justify-content: center;
gap: 10px;
}

.pie-pagina .grupo-1 .red-social a {
display: inline-block;
text-decoration: none;
width: 45px;
height: 45px;
line-height: 45px;
color: #fff;
background-color: #0d2033;
text-align: center;
border-radius: 50%;
transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
background-color: #444;
}

.pie-pagina .grupo-2 {
background-color: #222;
padding: 15px 10px;
text-align: center;
width: 100%;
}

.pie-pagina .grupo-2 p {
font-size: 18px;
margin-bottom: 10px;
}

.pie-pagina .grupo-2 .contact-button {
background-color: #fff;
color: #333;
padding: 10px 20px;
border: none;
cursor: pointer;
transition: background-color 0.3s ease;
text-decoration: none;
}

.pie-pagina .grupo-2 .contact-button:hover {
background-color: #ddd;
}

@media screen and (max-width: 800px) {
.pie-pagina .grupo-1 {
    grid-template-columns: 1fr;
    text-align: center;
}

.pie-pagina .grupo-1 .box {
    margin-bottom: 20px;
}

.pie-pagina .grupo-1 .red-social {
    justify-content: center;
}
}
