body {
    margin: 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    position: relative;
    top: 180px;
}

.row {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.btn-primary {
    background-color: #337ab7;
    color: #fff;
}

.btn-primary:hover {
    background-color: #23527c;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 15px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .footer {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 0;
    }
}

.header {
    position: fixed;
    top: 0;
    right: 15px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .header {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0;
    }
}